.box{
    height: 100px;
    width: 300px;
    background-color: hotpink;

    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;

    /* animation-name: boxAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */



     
} 

@keyframes fontAnimation {
    0%{
        font-size:20px;
        box-shadow:3px 3px 10px black;
    }
    50%{
        background-color: rgb(48, 48, 84);
    }
    100%{
        font-size:40px;
        box-shadow:20px 20px 14px black;
        background-color: rgb(70, 50, 134);
      }
}

@keyframes boxAnimation {
    from{
        box-shadow:3px 3px 10px black;
    }
    to{
        box-shadow:20px 20px 14px black;
    }
    
}
