.card{
    height: 400px;
    width: 300px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid rgb(1, 1, 39);
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    color:white;
}


img{
    height: 200px;
    width: 300px;
    border-radius:5px 5px 0 0;
    /* border: 1px solid black; */
}

desc{
    padding: 0px 2px 0 px 2px;

}

.card:hover{
    box-shadow: 2px 4px 16px rgb(226, 194, 11);
    transition: 1s;
}

body{
    background-color: black;
}

