/* Flex Diplay, flex direction,Justify Content,Flex Wrap,Align Items, Align content 
Align self  , Flex sizing      */

#container{
    height: 300px;
    width: 80%;
    margin: 10px auto;
    border: 2px solid black;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row  ;
    justify-content: flex-start;
    /* flex-wrap:wrap ;  */
    /* align-items: flex-end; */
    align-content: flex-start;

}

#org{
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    flex-shrink: 3;
}

#blue{
    /*  flex-grow: 2; */
    flex-shrink: 1;
}


h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
}
  