#container{
    height: 400px;
    width: 400px;
    border: 3px solid rgb(2, 106, 130);
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.Box2{
    height: 100px;
    width: 100px;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    background-color: grey;
}

#navbar{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid rgb(7, 124, 213);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.value{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 20px;
    line-height: 50px;
}