.container{
    width: 600px;
    height: 300px;
    background-color: yellowgreen;
    display: inline grid;
    /* grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: auto auto; */

    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    /* grid-gap: 10px 10px; */
    
    /* justify-items: center;
    align-items: center; */

    place-items: center;


}

.item{
    width: 70px;
    height: 50px;
    background-color: rgb(185, 48, 62);
    border: 2px solid black;
    text-align: center;
} 

.one{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1/span 3 ; */

    /* justify-self: end;
    align-self: end  ; */

    place-self: start;

}

.two{
    /* grid-row-start: 1;
    grid-row-end: 3  ; */

    place-self: end;
}