/* div{
    height: 50px;
    width : 50px;
    background-color: rgba(255, 0,0);
    border: 2px solid black;
    margin: 0 auto;
    /* transition-duration: 1s;
    transition-delay: 1s; 
    transition: margin-top 2s ease-in-out 0.2s;
    /* transform: rotate(18 deg); 
}

/*#opacity{
    height: 200px;
    width: 200px;
    opacity: 0.5;
    background-color: rgb(142, 142, 2);
}

div:hover{
    /* background-color: black;
    border-radius: 25%; 
    margin-top: 400px;
} */

/*section{
    margin-top: 50px;
}

div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* tranform */

/* #one:hover{
    transition: 4s;
    transform: rotate(360deg);
} 

#one{
    transform: rotate(45deg);
}

#two{
    transform: scaleX(0.5);
    transform: scaleY(0.6);
}

#three{
    /* transform: translate(100px,100px); 
    transform: translateX(100px);
}

#four{
    transform: skew(-40deg);
}

#five{
    transform: rotate(30deg)  translateX(150px);
}
*/

/* div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    margin: 0 auto;
    box-shadow: 2px 2px 8px black ;
} */

 /* div{
     margin: 0px auto;
     height: 200px;
     width: 400px;
     background-color: rgb(17, 194, 91);
     background-image: url("image.jpg"); 
     background-size: cover;
 } */


 div{
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    display: inline-block;
 }

 #static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
 }

 #relative{
    background-color: brown;
    position: relative;
    top:100px;
    left:100px;
 }

 #absolute{
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
 }

 #fixed{
    background-color: yellow;
    position: fixed;
    top: 100px;
    left: 100px;  
 }