body{
    background-color: black;
}

#main{
    margin:30px 0px 0px 10px;
    height: 280px;
    width: 280px;
    background-color: rgb(239, 180, 70);
    border-radius: 50%;
}

#lefteye , #righteye{
    height:20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 110px;
    left: 100px;
}

#righteye{
    left:190px;
}

#mouth{
    height: 50px;
    width: 100px;
    background-color: rgb(242, 90, 90);
    position: absolute;
    top:200px;
    left:107px;
    border-radius: 0px 0px 60px 60px;
}

#main:hover{
    box-shadow: 5px 5px 16px rgb(235, 83, 83);
}

#mouth:hover{
    transform: scale(1.5);
}

