.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: hotpink;
    text-align: center;
}

.one{
    background-color: aqua;
    position: relative;
    z-index: 3 ;
}

.two{
    background-color: forestgreen;
    position: relative;
    bottom: 50px ;
    z-index: 2;
}