div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border: 2px solid black ;
    border-top:6px dotted palegreen;
    border-top-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
   /* margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;*/
    margin:20px;
}

h1{
    border-width: 5px;
    border-style: dashed;
    border-color: green;
    border-left-color: lightblue;
    border-right-style: groove;
    border-radius: 50px;
    padding: 20px 20px 20px 20px;
    margin:0;/*To unset the default margin*/
}
button{
    border:2px solid black;
    border-radius: 15px;
     padding: 10px 15px;
}

